astroid==1.5.3
certifi==2017.7.27.1
chardet==3.0.4
defusedxml==0.5.0
Django==1.11.28
grab==0.6.38
idna==2.6
isort==4.2.15
lazy-object-proxy==1.3.1
lxml==4.1.0
mccabe==0.6.1
psycopg2==2.7.3.2
pycurl==7.19.5.3
pylint==1.7.4
pytils==0.3
pytz==2017.2
requests==2.18.4
selection==0.0.13
six==1.11.0
urllib3==1.22
user-agent==0.1.9
weblib==0.1.25
wrapt==1.10.11
